body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #f8f9e9;
}

a,
a:hover {
  color: #f8f9e9;
}

#contact {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #240023;
  text-align: center;
}

#contact a:hover {
  color: #282c34;
}

#contact .catch {
  margin-bottom: 15px;
  font-size: 30pt;
}

#contact .email {
  font-size: 16pt;
}

#contact .icons {
  font-size: 14pt;
}

#contact .footer {
  margin-top: 50px;
  font-size: 12pt;
}

#header {
  position: absolute;
  top: 28%;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
      -ms-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
      -ms-animation-duration: 2s;
          animation-duration: 2s;
  font-weight: 500;
}

#header .name {
  margin-bottom: 0;
  font-size: 54pt;
}

#header .title {
  font-size: 20pt;
}

#intro {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('images/landing-bg.jpg');
  background-size: cover;
}

#intro .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5)
}

#intro .more {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
      -ms-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
      -ms-animation-duration: 2s;
          animation-duration: 2s;
  font-size: 16pt;
  font-weight: 200;
  text-align: center;
}

#intro .more > a {
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
       -o-animation-duration: 4s;
      -ms-animation-duration: 4s;
          animation-duration: 4s;
}

#projects {
  padding: 50px 5%;
  width: 100vw;
  background-color: #240023;
}

#projects .title {
  text-align: center;
  font-size: 42pt;
  margin-bottom: 40px;
}

#projects .card {
  min-width: 400px;
  max-width: 600px;
  text-align: center;
}

#projects .desc {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14pt;
}

#projects .desc .header {
  margin-bottom: 5px;
}

#projects .label {
  font-weight: 300;
}
